<h1>Patient Info</h1>

<div class="">
  ID: <%= @patient.id %>
  <br>
  Name: <%= @patient.first_name %>
  <br>
  <h3>Consulation History</h3>

  <% @patient.consult.each do |consultation| %>
    <div class="">
      <p>CONSULATION ID: <%= consultation.id %></p>
      <p>HISTORY: <%= consultation.history %></p>
      <p>PRESCRIPTION: <%= consultation.prescription %></p>
      <p>MC GIVEN: <%= consultation.mc %> DAYS</p>
      <p>CONSULTED BY: <%= consultation.doctor_id %></p>
      <p>CONSULTED ON: <%= consultation.created_at %></p>
      --------------------------

    </div>

  <% end %>

  etc, etc
</div>
