<h1 class="center-align">Patient Info</h1>

<ul class="collection with-header">
  <li class="collection-item z-depth-3"><h3>Consulation History</h3>
  <p>ID: <%= @patient.id %> <br>
  Name: <%= @patient.first_name %> <%= @patient.last_name %> <br>
  NRIC Number/FIN: <%= @patient.id_number %> <br>
  Gender: <%= @patient.gender %>
  </p>
</li>
  <% @patient.consult.each do |consultation| %>
    <li class="collection-item z-depth-3">
      <p>CONSULATION ID: <%= consultation.id %></p>
      <p>HISTORY: <%= consultation.history %></p>
      <p>PRESCRIPTION: <%= consultation.prescription %></p>
      <p>MC GIVEN: <%= consultation.mc %> DAYS</p>
      <p>CONSULTED BY: <%= consultation.doctor.first_name %></p>
      <p>CONSULTED ON: <%= consultation.created_at %></p>
    </li>

  <% end %>
  </ul>
<br>
  <%= link_to 'Back', dashboard_path %>
