<h4 class="center-align">History Taking for <%= @patient.first_name + " " + @patient.last_name %></h4>

<div class="row">
  <div class="col s1">.</div>
  <div class="col s6">

  <%= form_with scope: :consult, url: consults_path, local: true do |form| %>
  <div class="text-forms">
  <div class="row">
    <div class="input-field col s12">
      <%= form.text_field :user_id, :hidden => true, value: @patient.id %>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="input-field col s12">
        <%= form.label :history %>
        <%= form.text_area :history, class: 'materialize-textarea' %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.label :prescription %>
      <%= form.text_area :prescription, class: 'materialize-textarea' %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
    <label for="date-field">MC from:</label>
    <input type="text" id="consult_mc_start" class="datepicker" name="consult[mc_start]">
    </div>
    <div class="input-field col s6">
    <label for="date-field">MC to:</label>
    <input type="text" id="consult_mc_end" class="datepicker" name="consult[mc_end]">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_field :doctor_id, :hidden => true, value: @user.id %>
    </div>
  </div>

  <div class="row">
  <a class="waves-effect waves-light btn">
  <i class="material-icons left">save</i>
    <%= form.submit %>
<% end %>
</a>
      <br>
      <br>

  <a class="btn waves-effect waves-light" href=<%= dashboard_path %>>Back</a>
  </div>
</div>
</div>
</div>
<div class="col s4">
      <iframe
        src="<%= @vid_path %>"
        width=639
        height=520
        allow="microphone; camera"
      ></iframe>
  </div>
</div>
<script>

$(document).ready(function(){
  let day = new Date();
  $('.datepicker').datepicker({
    defaultDate: day,
    setDefaultDate: true
  });
});
</script>
