<h1 class="center-align">Patient History Taking</h1>

<%= form_with scope: :consult, url: consults_path, local: true do |form| %>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_field :user_id, :readonly => true, value: @patient.first_name + " " + @patient.last_name %>
    </div>
  </div>


  <div class="row">
    <div class="input-field col s12">
      <%= form.label :history %>
      <%= form.text_area :history, class: 'materialize-textarea' %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.label :prescription %>
      <%= form.text_area :prescription, class: 'materialize-textarea' %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
    <label for="date-field">MC from:</label>
    <input type="text" class="datepicker">
    </div>
    <div class="input-field col s6">
    <label for="date-field">MC to:</label>
    <input type="text" class="datepicker">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_field :doctor_id, :hidden => true, value: @user.id %>
    </div>
  </div>

  <div class="row">
  <a class="waves-effect waves-light btn">
  <i class="material-icons left">save</i>
    <%= form.submit %>
<% end %>
</a>
  </div>

  <div class="row">
      <iframe
        src="https://demo.mediasoup.org/?roomId=pms88"
        width=640
        height=480
        allow="microphone; camera"
      ></iframe>
  </div>

  <br>

  <%= link_to 'Back', dashboard_path %>


<script>
$(document).ready(function(){
  let day = new Date();
$('.datepicker').datepicker({
  defaultDate: day,
  setDefaultDate: true
  });
});
</script>
