  <div class="container">
  <ul class="collection with-header">
    <li class="collection-item"><h4 class="center-align">Consultation Summary</h4></li>
    <li class="collection-item">   
  <p>
    <strong>Patient ID:</strong>
    <%= @consult.user_id %>
  </p>
  </li>

  <% if @role == 'doctor' %>

  <li class="collection-item z-depth-2">
    <p>
      <strong>Consultation:</strong>
      <%= @consult.history %>
    </p>
  <% end %>
    </li>

<li class="collection-item z-depth-2">
  <p>
    <strong>Prescription:</strong>
    <%= @consult.prescription %>
  </p>
</li>

<li class="collection-item z-depth-2">
  <p>
    <strong>Number of days MC:</strong>
    <%= @consult.mc %>
  </p>
  </li>

<li class="collection-item z-depth-2">
  <p>
    <strong>Doctor ID:</strong>
    <%= @consult.doctor_id %>
  </p>
  </li>

</ul>
<br>
<a class="btn waves-effect waves-light" href=<%= dashboard_path %>>Back</a>
</div>