  <ul class="collection with-header">
    <li class="collection-item"><h3 class="center-align">Consultation Summary</h3></li>
    <li class="collection-item">   
  <p>
    <strong>Patient ID:</strong>
    <%= @consult.user_id %>
  </p>
  </li>

  <% if @role == 'doctor' %>

  <li class="collection-item">
    <p>
      <strong>Consultation:</strong>
      <%= @consult.history %>
    </p>
  <% end %>
    </li>

<li class="collection-item">
  <p>
    <strong>Prescription:</strong>
    <%= @consult.prescription %>
  </p>
</li>

<li class="collection-item">
  <p>
    <strong>Number of days MC:</strong>
    <%= @consult.mc %>
  </p>
  </li>

<li class="collection-item">
  <p>
    <strong>Doctor ID:</strong>
    <%= @consult.doctor_id %>
  </p>
  </li>

</ul>
<br>
<%= link_to 'Back', consults_path %>