<p>
  <strong>Patien Id:</strong>
  <%= @consult.user_id %>
</p>
 
<% if @role == 'doctor' %>
  <p>
    <strong>Consultation:</strong>
    <%= @consult.history %>
  </p>
<% end %>


<p>
  <strong>Prescription:</strong>
  <%= @consult.prescription %>
</p>

<p>
  <strong>Number of days MC:</strong>
  <%= @consult.mc %>
</p>

<p>
  <strong>Doctor Id:</strong>
  <%= @consult.doctor_id %>
</p>